<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Login</title>
	<link href="/stylesheets/styleLogin.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
	
</head>

<body>

	<div id="login">

		<h2><span class="fontawesome-lock"></span>Access Denied</h2>

	The current user is not allowed to access this resource.

		</form>

	</div> <!-- end login -->

</body>	
</html>