<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="outer">
	<tr>
		<td scope="col">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="rc1" scope="col">&nbsp;</th>
					<td width="300" bgcolor="#fff" scope="col">
						<table border="0" align="left" cellpadding="0" cellspacing="0">
							<tr>
								<td width="275" align="center" class="name">Video Library</td>
								<td rowspan="2" align="right" valign="bottom">&nbsp;</td>
							</tr>
							<tr>
								<td align="center" class="slogan">Collection of latest, old, romantic, action, thriller movies</td>
							</tr>
						</table>
					</td>
					<td valign="bottom" bgcolor="#fff" scope="col"><img src="images/bg1.jpg" alt="Education template" width="400" height="140" align="right" /></td>
					<th class="rc2" scope="col">&nbsp;</th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><table border="0" cellpadding="0" cellspacing="0" bgcolor="#fff">
			<tr><div class="inner_copy"></div>
				<td height="5" colspan="2" bgcolor="#FF6600"></td>
			</tr>
			<tr>
				<td width="220" valign="top" style="border-right:1px solid #FF6600;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td class="heading2">Welcome </td>
						</tr>
						<tr>
							<td><a href="#" class="links">Create Premium Member </a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">Create Simple Member </a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">Delete Simple Members</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">Delete Premium Members</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">Create Movie</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">Delete Movie</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">Issue a Movie</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">Submit a Movie</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">List Premium Members</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">List Simple Members</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">List Members</a></td>
						</tr>
						<tr>
							<td><a href="#" class="links">List Movies</a></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
					</table>
					</td>
					<td valign="top" visible="false"><table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td valign="top" class="heading2" scope="col">Welcome to Video Library</td>
						</tr>
						<tr>
							<td valign="top" class="main" scope="col">When user wants to create a member, select option Create Member and select the type Premium or Simple in membership type dropdown. In order to delete Simple/Premium mebers select option delete and type Simple/Premium. There is an option to create and delete a movie as well. When the movie is issued to a member, log the same in Issue Movie. When the movie is submitted by the member, click update the same on Submit movie. List Members will give list of all members in the system. They can be further filtered to Simple/Premium. List Movvies displays all the movies in the system.</td>
						</tr>
						
						<tr>
							<td valign="top" scope="col">&nbsp;</td>
						</tr>
				</table></td>
				
			</tr>
		</table></td>
	</tr>
	<tr>
		<td height="30" align="center" bgcolor="#333333"><table border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				
			</tr>
		</table></td>
	</tr>
	</table>
</body>
</html>
