<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


</style>
<title>Video Library</title>

<link href="/stylesheets/templatemo_style.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div id="templatemo_background_section_top">
    
    	<div class="templatemo_container">
		
        	<div id="templatemo_header">
				<div id="templatemo_logo_section">            
		        	<h1><a href="/">Video Library</a></h1>           
					<h2>Store for all movies: Comedy, Thriller, Action, Romantic, Documentary</h2>
				</div>
				<div id="templatemo_user_section">            
		        	Welcome <%= userDet.firstname %>!!
		        	<a href="/sign-out?nocache=1">Sign Out</a>
				</div>
         	</div><!-- end of headder -->
            <div id="templatemo_menu_panel"> 
				<div id="templatemo_menu_section">
					
					<ul>
					  <li><a href="/createmember?nocache=1">Create member    </a></li>
					  <li><a href="/listmember?nocache=1">List Members   </a></li>
					  <li><a href="/createmovie?nocache=1">Create Movie   </a></li>
					  <li><a href="/listmovie?nocache=1">List Movies   </a></li>
					  <li><a href="/issuemovie?nocache=1">Issue Movie   </a></li>
					  <li><a href="/submitmovie?nocache=1">Submit Movie  </a></li>  
					  <li><a href="/generatebill?nocache=1">Generate Bill  </a></li> 							
					</ul>                     
				</div>
            </div> <!-- end of menu -->
		</div><!-- end of container-->
        
	</div><!-- end of templatemo_background_section_top-->
    
    <div id="templatemo_background_section_middle">
    
    	<div class="templatemo_container">
        
        	<div id="templatemo_left_section">
            	
                <div class="templatemo_post">
                
                	<div class="templatemo_post_top">
                    	<h1>Submited movie that was issued</h1>
                    </div>
                    <div class="templatemo_post_mid">
						
						<table class="listUserInfo" border=1 align="center">
							<tr>
								<th>Movie Returned By:</th>
								<td><%= member.membership_no %></td>
								<th>Returned Movie:</th>
								<td><%= movie.movie_name %></td>
							</tr>
						</table>
                        
                        <div class="clear"></div>
                        
                    </div>
                    <div class="templatemo_post_bottom">
                    

                    </div>
                    
				</div><!-- end of templatemo_post-->
                
            </div><!-- end of left section-->
            
            
        </div><!-- end of container-->
	</div><!-- end of background middle-->
    
     
</body>

</html>