<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


</style>
<title>Video Library</title>

<link href="/stylesheets/templatemo_style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

   function allnumeric(inputtxt)  
   {  
	 
	 var numbers = /^[0-9]+$/;  
	 if(inputtxt.match(numbers))  
	 {  
	  return true;  
	 }  
	 else  
	 {
	  return false;  
	 }  
   }
   

	function validateReturnMovie()   
   {
     if(document.returnmovie.membershipNo.value ==null ||document.returnmovie.membershipNo.value == ''){
			alert('Membership No. cannot be blank');
			return false;
		} 
	else if(!allnumeric(document.returnmovie.membershipNo.value))
	{
		alert("Membership No. should be numeric");
		return false;
	}
	else if(document.returnmovie.membershipNo.value.length != 9 ) 
	{
		alert("Membership No. should be 9 Digits.");
		return false;
	}
	else
	{
		
		return true;
	}
    }
</script>
</head>

<body>
	<div id="templatemo_background_section_top">
    
    	<div class="templatemo_container">
		
        	<div id="templatemo_header">
				<div id="templatemo_logo_section">            
		        	<h1><a href="/">Video Library</a></h1>           
					<h2>Store for all movies: Comedy, Thriller, Action, Romantic, Documentary</h2>
				</div>
				<div id="templatemo_user_section">            
		        	Welcome <%= userDet.firstname %>!!
		        	<a href="/sign-out?nocache=1">Sign Out</a>
				</div>
         	</div><!-- end of headder -->
              <div id="templatemo_menu_panel"> 
				<div id="templatemo_menu_section">                
					<div id="templatemo_menu_section">
						<ul>
						  <li><a href="/createmember?nocache=1">Create member    </a></li>
						  <li><a href="/listmember?nocache=1">List Members   </a></li>
						  <li><a href="/createmovie?nocache=1">Create Movie   </a></li>
						  <li><a href="/listmovie?nocache=1">List Movies   </a></li>
						  <li><a href="/issuemovie?nocache=1">Issue Movie   </a></li>
						  <li><a href="/submitmovie?nocache=1">Submit Movie  </a></li>  
						  <li><a href="/generatebill?nocache=1">Generate Bill  </a></li> 							
						</ul> 		
					</div>
				</div>
            </div> <!-- end of menu -->
		</div><!-- end of container-->
        
	</div><!-- end of templatemo_background_section_top-->
    
    <div id="templatemo_background_section_middle">
    
    	<div class="templatemo_container">
        
        	<div id="templatemo_left_section">
            	
                <div class="templatemo_post">
                
                	<div class="templatemo_post_top">
                    	<h1>Submit Movie: On basis of Movie Name and the Membership Number, movies are Submitted</h1>
                    </div>
                    <div class="templatemo_post_mid">
                    <div align="center">
                    <form action="/submitmovie-submit" method="POST" name="returnmovie" onsubmit="return validateReturnMovie()">
                    	
                    	<div style="color:red; font-weight:bold;">
				<% if(fetchResult != null) {%>
				<%= fetchResult %>
				<% } %>
				</div>
				<br/>
                    	<table><tbody>                        
							<tr>
								<td><label for="membershipNo">Membership Number: </label> </td>
								<td><input id="membershipNo" maxlength="40" name="membershipNo" type="text"/></td>
							</tr>
							<!--<tr>
								<td><label for="movieName">Movie Name: </label> </td>
								<td><input id="movieName" maxlength="75" name="movieName" type="text"/></td>
							</tr>-->
						</tbody></table>
						<br/>
						<div><input name="Submit" type="submit" value="Next >>" style="width:70px; align:right; margin-left:100px"/></div>
						</form>
						</div>
						</div>
                        <div class="clear"></div>
                        
                    </div>
                
            </div><!-- end of left section-->
            
            
        </div><!-- end of container-->
	</div><!-- end of background middle-->
    
     
</body>

</html>